.banner_body {
  display: flex;
  column-gap: 10px;
}
.banner_body .banner_img {
  height: 200px;
}
.banner_body .banner_img img {
  width: 990px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.banner_body .banner_card {
  width: 138px;
  height: 293px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(223, 226, 235, 0.79);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}
.banner_card .card_top {
  width: 118px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  background: #2e3456;
  border-radius: 10px;
}
.banner_card .card_top h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 116.3%;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.banner_card .card_bottom {
  width: 118px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner_card .card_bottom img {
  opacity: 0.2;
}
.banner_card .card_bottom h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 116.3%;
  letter-spacing: -0.01em;
  color: #2e3456;
  opacity: 0.3;
}
.banner-text-img {
  display: flex;
  flex-direction: column;
}
.banner-text-img .banner_text {
  border: 1px solid #2e34561f;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text .text_left .cricle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d0d3db;
}

.banner_text .text_left {
  display: flex;
  align-items: center;
  padding: 43px 22px 33px;
  column-gap: 25px;
}
.banner_text .text_left h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #000000;
}
.banner_text .text_left .left_not {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.banner_text .text_left .left_not h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 116.3%;
  letter-spacing: -0.01em;
  color: #000000;
  border-bottom: 1px dotted black;
}
.banner_text .text_right .right {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-right: 22px;
}
.banner_text .text_right .right h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 116.3%;
  letter-spacing: -0.4px;
  color: #000000;
}
.banner_body .card_img {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 307px;
  top: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.58);
  backdrop-filter: blur(24.4645px);
  border-radius: 15px;
}
.banner_body .card_img img {
  width: 52px;
}
